@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular-italic {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  --nc-tx-1: #ffffff;
  --nc-tx-2: #eeeeee;
  --nc-bg-1: #000000;
  --nc-bg-2: #111111;
  --nc-bg-3: #222222;
  --nc-lk-1: #7928CA;
  --nc-lk-2: #7928CA;
  --nc-lk-tx: #FFFFFF;
  --nc-ac-1: #7928CA;
  --nc-ac-tx: #FFFFFF;
}